<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
	<div id="header">
        <h1>FixMyPlan</h1>
    </div>	
	<div id="content">
	{% if user  %}
		Your have made the following Reservations :
			<br>
			{% for myReservation in myReservations %}
				<br>
				Reserved by : {{ user.email() }}
				<br>
				Resource Name : {{ myReservation.name }}
				<br>
				Start Time : {{ myReservation.startTimeDisp }} on 
							 {{ myReservation.dateDisp }}
				<br>
				Duration : {{ myReservation.durationDisp }}
				<br>
				<form action="/reservations" method="post">
					<button Onclick="return confirm('Are you sure you want to delete this item?');" type="submit" name="reservationKey" value="{{ myReservation.key.urlsafe() }}">Delete</button>
				</form>
				<br>
			{% endfor %}

		<br>
		Resources available in the system :
			<br>
			{% for resource in allResources %}
				<br>
				<a href="/resources/{{ resource.name }} "> {{ resource.name }} </a>
			{% endfor %}
		<br>
		<br>
		Resources owned by you :
			<br>
			{% for resource in myResources %}
				<br>
				<a href="/resources/{{ resource.name }} "> {{ resource.name }}</a>
			{% endfor %}
		<br>
		<br>

		<a href="/resources">Create a resource</a>
	</div>
	{% else  %}
	<div id="content">
		You have not logged in yet!
	</div>
	{% endif %}
		<br>
		<br>
	<div id="business">
		<a href="{{ url|safe }}">{{ url_linktext }}</a>
	</div>
	
  </body>
</html>
{% endautoescape %}